<h1 class="head-title">Listing Departments</h1>
<%= link_to 'New Department', new_department_path, class: "btn btn-default btn-xs" %><br><br>
    <% @departments.each do |department| %>
      <div class="row">
        <div class="col-md-6">
          <strong>Department:</strong> <%= department.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_department_path(department), class: "btn btn-default btn-xs" %>
            <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
          <% end %>
        </div>
      </div></br>
    <% end %>


<br>
