<div class="row">
  <div class="col-md-8 separator">
      <% if params.include?(:user) %>
        <h1 class="head-title">My Requests</h1>
        <%= link_to 'New Request', new_request_path, class: "btn btn-primary btn-xs new_task" %>
      <% elsif params.include?(:active) %>
        <h1 class="head-title">Open Requests</h1>
      <% elsif params.include?(:applied) %>
        <h1 class="head-title">Applications</h1>
      <% else %>
        <h1 class="head-title">All Requests</h1>
      <% end %><br><br>
  </div>
</div>
<div class="container">
  <% if params.include?(:active) %>
    <%= render 'layouts/defaultrequest' %>
  <% elsif params.include?(:applied) %>
    <%= render 'layouts/applicationrequest' %>
  <% elsif params.include?(:user) %>
    <%= render 'layouts/myrequest' %>
  <% end %>
</div>