<p id="notice"><%= notice %></p>

<p>
  <strong>Skill:</strong>
  <%= @needed_skill.skill_id %>
</p>

<%= link_to 'Edit', edit_needed_skill_path(@needed_skill) %> |
<%= link_to 'Back', needed_skills_path %>
