<h1 class="head-title">All Locations</h1>
<%= link_to 'New Location', new_location_path, class: "btn btn-default btn-xs" %><br><br>
    <% @locations.each do |location| %>
      <div class="row">
        <div class="col-md-6">
          <strong>City:</strong> <%= location.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_location_path(location), class: "btn btn-default btn-xs" %>
            <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
          <% end %>
        </div>
      </div></br>
    <% end %>


<br>
