<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Projects",    project_path %></li>
        <li><%= link_to "Requests",    request_path %></li>
        <li><%= link_to "Users",       user_path %></li>
      </ul>
    </nav>
  </div>
</header>